@media print, (max-width: 1023px) {
 
    /* :root {
        --font_size: 16px;
        --font_size_title: 36px;
    }    */
    

    .header_logo-mob {
        display: block;
    }
    .header_logo {
        display: none;
    }
    .header_nav .menu {
        width: 100%;
    }
    .header-box_left {
        padding: 0px;
        border-width: 0px 0px 0px 0px;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 80px;
        flex-shrink: 0;
    }
    .header-box_left a + a {
        margin-left: 0px;
        margin-top: 12px;
    }
    .header-box_left span {
        margin-left: 0px;
        margin-top: 19px;
    }
    .header-box_right {
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
    }
    .header-box {
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .header-email {
        margin-left: 0px;
        margin-bottom: 12px;
    }
    .header-soc {
        margin-bottom: 9px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .header_info-img {
        width: 313px;
        height: 418px;
        margin-right: 0;
    }
    .header_info-title {
        font-size: 28px;
        line-height: 28px;   
        margin-bottom: 8px;
    }
    .header_info-wrap {
        margin-top: 0;
        margin-right: 30px;
    }
    .header_info .cont {
        align-items: center;
    }
    .header_info-text {
        font-size: 14px;
        line-height: 17px;
    }
    .about ul li:nth-child(3) {
        margin-top: 30px;
    }
    .services_item {
        flex-direction: column;
        padding-bottom: 80px;
        margin-bottom: 40px;
    }
    .services_item-img {
        margin-right: 0px;
        margin-bottom: 55px;
        width: 100%;
        height: auto;
    }
    .services_item-img img {
        margin-right: 20px;
    }
    .services_item:nth-child(2n) {
        flex-direction: column;
    }
    .services {
        padding: 106px 0 134px;
    }
    .advantages_items > * {
        width: calc(100%/2 - 20px);
    }
    .map_wrap {
        height: 530px;
    }
    .contacts .cont {
        flex-direction: column;
    }
    .contacts_info {
        max-width: 100%;
    }
    .contacts_form {
        width: 100%;
    }
    .contacts_phone {
        flex-direction: row;
    }
    .contacts_phone a + a {
        margin-left: 20px;
        margin-top: 0px;
    }
    .contacts {
        padding: 75px 0 78px;
    }
    .contacts_title {
        margin-bottom: 38px;
    }
    .contacts_text {
        margin-bottom: 38px;
    }
    .contacts_phone {
        margin-bottom: 38px;
    }
    .footer-box {
        flex-direction: column;
    }
    .footer-email {
        margin-left: 0px;
        white-space: nowrap;
    }
    .footer-box_right .btn {
        min-width: 168px;
    }
    .footer-box_right {
        width: 100%;
        border-width: 0px 0px 1px 0px;
        order: -1;
        margin-bottom: 10px;
    }
    .footer-box_left {
        padding: 15px 0px;
        border-width: 0px 0px 0px 0px;
        width: 100%;
        justify-content: space-between;
    }
    .footer-box_left a + a {
        margin-left: 0px;
    }
    .footer_nav {
        flex-direction: column-reverse;
    }
    .footer_logo {
        margin-top: 50px;
    }
    .footer_nav .menu {
        width: 100%;
    }
        
  
   


    

    
}
