@media print, (max-width: 767px) {

    :root {
        --font_size: 14px;
        --font_size_title: 22px;
    }
    header .mob_menu_btn {
        display: flex;
        order: 1;
    }
    header .menu {
        position: fixed;
        z-index: 107;
        top: 0;
        left: 0;

        display: flex;
        overflow: auto;

        width: 100%;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 40px 20px 46px;

        transition: transform .3s linear;
        transform: translateX(-100%);

        background: #fff;

        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    header .menu.show {
        transform: translateX(0);
    }
    header .close_btn {
        display: flex;
    }
    .menu_open header .mob_menu_btn {
        display: none;
    }
    header .menu .item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 34px;
    }
    header .menu .item + .item {
        margin-left: 0;
    }
    header .menu .item > a {
        display: block;
        height: auto;
        padding-bottom: 15px;
        text-align: center;
        color: #fff;
        border-bottom: none;
    }  
    .mob_menu_btn span {
        position: relative;
        display: block;
        width: 30px;
        height: 2px;
        transition: background .2s linear;
        background: #000; 
    }
    .mob_menu_btn span:before, 
    .mob_menu_btn span:after {
        position: absolute;
        top: -8px;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        transition: .2s linear;
        background: #000;
    }
    .mob_menu_btn span:after {
        top: 8px;
    }
    .mob_menu_btn.active span {
        background: transparent;
    }
    .mob_menu_btn.active span:before {
        top: 0;
        transform: rotate(45deg);
    }
    .mob_menu_btn.active span:after {
        top: 0;
        transform: rotate(-45deg);
    }
    .menu_open header {
        background: #2A292F;
    }
    header .close_btn {
        display: none;
    }
    .menu_open header .close_btn {
        display: block;
        top: 0px;
        right: 0px;
        z-index: 999;
        position: absolute;
    }
    .mob_menu_btn {
        width: 60px;
    }
    .mob_menu_btn img {
        width: 60px;
    }


    .modal_callback-title.modal_callback-title-mob {
        display: block;
    }
    .modal_callback-title {
        display: none;
    }
    .modal_form .line.dn {
        display: none;
    }
    .header-box_left,
    .header-box_right {
        display: none;
    }
    .header-box_left-mob, 
    .header-box_right-mob {
        display: block;
    }
    .header-box_left-mob.header-box_left {
        margin-left: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 15px;
    }
    .header-box_right.header-box_right-mob {
        margin-left: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .header-box_right.header-box_right-mob .btn {
        order: -1;
        margin-bottom: 48px;
    }
    .header-email {
        order: 1;
    }
    .footer-box_right {
        flex-direction: column;
    }
    footer {
        padding-top: 103px;
        padding-bottom: 73px;
    }
    .footer-email {
        margin-bottom: 15px;
    }
    .footer-box_right {
        padding-bottom: 30px;
    }
    .footer-soc {
        margin-bottom: 15px;
    }
    .footer-box_left {
        flex-direction: column;
    }
    .footer-box_left span {
        margin-left: 0px;
    }
    .footer-box_left a {
        margin-bottom: 6px;
    }
    .footer-box_left span {
        margin-top: 12px;
    }
    .footer_nav .menu {
        flex-direction: column;
    }
    .footer_nav .menu .item {
        margin-bottom: 34px;
        display: block;
    }
    .footer_nav .menu .item:last-child {
        margin-bottom: 0;
    }

    .header_info-img {
        width: 207px;
        height: 276px;
    }
    .header_info .cont {
        flex-direction: column;
    }
    .header_bottom {
        padding-top: 42px;
    }
    .cont {
        padding: 0 20px;
    }
    .header_info-wrap {
        margin-right: 0px;
        margin-bottom: 22px;
    } 
    .header_info-title {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 22px;
    }
    .header-box {
        padding: 36px 0px;
    }
    .about_text {
        font-size: 18px;
        margin-bottom: 80px;
    }
    .about ul li {
        padding-left: 0px;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 63px;
    } 
    .about ul li:before {
        top: -32px;
    }
    .about ul li:nth-child(3) {
        flex-wrap: wrap;
        justify-content: start;
    }
    .about {
        padding: 80px 0 111px;
    }
    .services {
        padding: 68px 0 99px;
    }
    .services_title {
        margin-bottom: 45px;
    }
    .tabs_container {
        flex-direction: column;
    }
    .tabs_container .tabs {
        margin-right: 0;
        width: 100%;
    }
    .faq .tab_content {
        width: 100%;
        margin-top: 70px;
    }
    .accordion_item .head {
        flex-direction: column-reverse;
    }
    .accordion_item .head .title {
        margin-left: 0px;
        margin-top: 12px;
    }
    .accordion_item .data {
        padding-left: 0;
    }
    .faq_title {
        margin-bottom: 38px;
    }
    .faq {
        padding: 109px 0 80px;
    }
    .faq_text {
        display: block;
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #242424;
        margin-bottom: 20px;
    }
    .contacts_phone {
        flex-direction: column;
        align-items: flex-start;
    }
    .contacts_phone a + a {
        margin-left: 0px;
        margin-top: 22px;
    }
    .contacts_phone {
        padding: 0;
        border: none;
    }
    .contacts_mail a,
    .contacts_phone a {
        font-size: 22px;
        line-height: 22px;
    }
    .contacts_mail {
        margin-bottom: 29px;
    }
    .contacts_text {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 28px;
    }
    .advantages_title {
        margin-bottom: 50px;
    }
    .advantages_items {
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .advantages_items > * {
        margin-left: 0px;
        margin-bottom: 0px;
        width: 100%;
    }
    .advantages_item + .advantages_item {
        margin-top: 42px;
    }
    .services_item-logo img {
        margin-right: 10px;
        width: 25%;
    }
    .services_item {
        padding-bottom: 48px;
    }
    .swiper-wrapper {
        padding: 0px;
    }
    .swiper-button-prev {
        left: -15px;
    }
    .swiper-button-next {
        right: -15px;
    }


  



}
