@media (max-width: 479px) {

    :root {
        --font_size: 14px;
        --font_size_title: 22px;
    }

    .header_logo-mob img {
        width: 174px;
    }
    .contacts_mail {
        display: flex;
        justify-content: flex-start
        ;
    }
    .modal_callback {
        padding: 40px 20px 46px;
    }
    .header-box_right.header-box_right-mob .btn {
        width: 100%;
    }  
    .services_item-logo img {
        width: 25%;
    }  
    .header_info-text {
        max-width: 300px;
    }
    .about_text {
        text-align: start;
    }
    .about ul li {
        text-align: start;
    }
    .about ul li:nth-child(3) {
        margin-top: 20px;
        margin-bottom: 55px;
    }
    .cont {
        padding: 0 30px;
    }
    .contacts_phone {
        margin-left: 28px;
    }
    .contacts_form .btn {
        width: 100%;
    }
    .about::after {
        left: 30px;
    }
    .services::after {
        right: 30px;
    }
    .partners::after {
        left: 30px;
    }

   
}
