@media (max-width: 479px) {

    :root {
        --font_size: 14px;
        --font_size_title: 22px;
    }

    .header_logo-mob img {
        width: 174px;
    }
    .contacts_mail {
        display: flex;
        justify-content: center;
    }
    .modal_callback {
        padding: 40px 20px 46px;
    }
    .header-box_right.header-box_right-mob .btn {
        width: 100%;
    }  
    .services_item-logo img {
        width: 25%;
    }  
 

   
}
