/* For old browsers */
@supports (not(--css: variables))
{
    .supports_error
    {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none)
{
    .supports_error
    {
        display: flex !important;
    }
}



/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scroll-margin-top: 88px;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



@font-face {
    font-family: 'GetVoIP Grotesque';
    src: url('../fonts/GetVoIPGrotesque.eot');
    src: local('GetVoIP Grotesque'), local('GetVoIPGrotesque'),
        url('../fonts/GetVoIPGrotesque.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GetVoIPGrotesque.woff2') format('woff2'),
        url('../fonts/GetVoIPGrotesque.woff') format('woff'),
        url('../fonts/GetVoIPGrotesque.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
        url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}



/*-------------------
    Global styles
-------------------*/
:root {
    --bg: #fff;
    --scroll_width: 17px;
    --text_color: #3f404a;
    --text_color2: #fff;
    --font_size: 16px;
    --font_size_title: 48px;
    --font_family: 'GetVoIP Grotesque';
}


::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}

/*
html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: #ccc;
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #de041d;
}

html.custom_scroll
{
    scrollbar-color: #de041d #ccc;
    scrollbar-width: thin;
}

*/
body {
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;

    background: var(--bg);
}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1244px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay {
    position: fixed;
    z-index: 102;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}





/*------------
    Header
------------*/

header .mob_menu_btn {
    display: none;
    width: 30px;
    height: 28px;
    margin-right: 0px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 8;
}
header .mob_menu_btn .icon {
    display: block;
    width: 20px;
    height: 18px;
}
header .close_btn { 
    display: none;
    width: 30px;
    height: 28px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 103;
}
header .close_btn img {
    display: block;
    width: 28px;
}
.header-box {
    display: flex;
    align-items: center;
}
.header-box_left {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background: #FFFFFF;
    border-width: 0px 1px;
    border-style: solid;
    border-color: #ECECEC;
}
.header-box_left a {
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #242424;
    white-space: nowrap;
}
.header-box_left a + a {
    margin-left: 24px;
}
.header-box_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 590px);
}
.header-box_left span {
    margin-left: 34px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #A6A6A6;    
}
.header-email {
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #242424;
    margin-left: 67px;
    text-decoration: none;
}
.header-soc {
    display: flex;
    align-items: center;
}
.header-soc a {
    display: block;
    text-decoration: none;
}
.header-soc a + a {
    margin-left: 8px;
}
.header_top .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 24px;
    background: #FF5757;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px; 
    color: #FFFFFF;
}
.header_bottom {
    padding-top: 43px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: url(../images/header_bg.png);
}
.header_nav {
    margin-bottom: 13px;
}
.header_nav .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_nav .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 460px);
}
.header_nav .menu .item a {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #545454;
}
.header_info .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_info-wrap {
    max-width: 690px;
    width: 100%;
}
.header_info-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 42px;
    text-transform: uppercase;
    color: #242424;
    margin-bottom: 22px;
}
.header_info-text {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #242424;
}
.header_info-img {
    margin-right: 30px;
}



.about {
    padding: 83px 0 117px;
    position: relative;
}
.about::after {
    position: absolute;
    content: "";
    width: 71px;
    height: 91px;
    background: url(../images/bg-icon.svg);
    bottom: -45px;
    left: calc(100%/2 - 604px);
}
.about_title {
    margin-bottom: 36px;
}
.title {
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
    color: #242424;
}
.about_text {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #242424;
    margin-bottom: 48px;
}
.about ul {
    list-style: none;
}
.about ul li {
    padding-left: 33px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #242424;
    margin-bottom: 48px;
    position: relative;
}
.about ul li:last-child {
    margin-bottom: 0;
}
.about ul li:nth-child(2) {
    margin-bottom: 0;
}
.about ul li:before {
    position: absolute;
    content: "";
    width: 23px;
    height: 23px;
    top: 0;
    left: 0;
    background: url(../images/marker.svg);
}
.about ul li:nth-child(3):before {
    display: none;
}
.about ul li:nth-child(3) {
    text-align: end;
}